<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Advanced Class</title>
     <link rel="icon" href="/images/download.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
      {{>header}}
    <div class="container__inner--width container__inner--t-padding">
      <p class="p">This was created by Olaobi Ifedayo Fasakn. It is for viewing your weather information</p>
      <img src="/images/randyandbruno.jpg" alt="randy and bruno">
    </div>
      {{>footer}}
</body>
</html>