<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{document}}</title>
    <link rel="icon" href="/images/download.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{>header}}
  <div class="container__inner--width container__inner--t-padding">
    <p>Use this site to get your weather information!</p>
    <form>
      <input type="text" placeholder="Location">
      <button>Submit</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>
    
    <script src="/Js/app.js"></script>
    {{>footer}}
</body>
</html>