<header class="header">
    <div class="container__inner--width">
        <div class="header__inner">
            <h1 class="header__heading-primary">{{ title }}</h1>
            
            <ul class="header__nav">
                <li>   <a href="/">Weather</a></li>
             <li> <a href="/about">About Page</a></li>
             <li><a href="/help">Help</a></li>
               
                
            </div>
    </div>
    </div>
</header>