*,
*::before,
*::after  {
margin:0;
padding:0;
box-sizing: border-box;
}

img {
    width:250px;
    height: auto;
}

.footer {
 
    color:#444;
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
    text-align: center;
    line-height: 60px;
}
.footer__top-horizontal-line {
width:50vw;
margin: 0 auto;
}


.header {
 background-color:#f4f4f4;
 line-height: 80px;
 box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.header__inner {
    display: flex;
    color:#f4f4f4;
    align-items: center;
}
.container__inner--width {
    max-width: 900px;
    margin:0 auto;
}
.header__heading-primary {
    color:#444;
    margin-right: auto;
}

.header__nav {
    display: flex;
    list-style: none;
}
.header__nav li {
    padding:0 8px;

}

.container__inner--t-padding {
    padding-top: 60px
}

.header a {
text-decoration: none;
color: #444;
font-size: 17px;
}

.header a:hover {
    color: purple;
}

input {
line-height: 40px;
font-size: 22px;
padding: 10px 20px;
margin:25px 0;
border:1px solid #888;
border-radius: 3px;
}

button {
padding: 10px 20px;
font-size: 22px;
line-height: 40px;
width: 150px;
background-color: #888;
color: #fff;
border-radius: 3px;
cursor: pointer;
}
button:active, button:focus {
    outline: none;
}
p{
font-size: 18px;
letter-spacing: 2.5px;
margin: 16px 0;
}